<div class="dialog-overlay"></div>

<div class="dialog-container">

    <form [formGroup]="formGroup" class="mat-dialog-container">

        <h1>Change Password</h1>

        <button class="close-button" (click)="closeDialog()">
            <i class="fas fa-times"></i>
        </button>

        <mat-form-field>
            <input matInput [type]="hideCP ? 'password' : 'text'"
                type="password" formControlName="currentPassword" placeholder="Current Password*">
            <button mat-icon-button matSuffix (click)="hideCP = !hideCP" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideCP">
                <mat-icon>{{hideCP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <input matInput [type]="hideNP ? 'password' : 'text'"
                type="password" formControlName="newPassword" placeholder="New Password*">
            <button mat-icon-button matSuffix (click)="hideNP = !hideNP" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNP">
                <mat-icon>{{hideNP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <input matInput [type]="hideRP ? 'password' : 'text'" 
                type="password" formControlName="confirmPassword" placeholder="Confirm Password*">
            <button mat-icon-button matSuffix (click)="hideRP = !hideRP" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideRP">
                <mat-icon>{{hideRP ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div *ngIf="submitted && formGroup.hasError('notmatched')">
            Passwords do not match.
        </div>

        <div *ngIf="statusMessage">
            {{statusMessage}}
        </div>

        <button mat-button (click)="onSubmit()" type="submit">Submit</button>
    </form>
</div>