<body>
    <section id="hero">
        <div class="hero-text">

            <p>Empower your future, learn to code today</p>

        </div>
    </section>

    <section id="study-process">
        <div class="container">
            <h2>Study Process</h2>
            <div class="flex">
                <div>
                    <span class="fas fa-book-open fa-3x"></span>
                    <h4>Learning Objectives</h4>
                    <p>Clear and specific objectives set for each course or program, outlining the skills
                        and knowledge students will gain.</p>
                </div>

                <div>
                    <span class="fas fa-laptop-house fa-3x"></span>
                    <h4>Study Materials and Resources</h4>
                    <p>Access to comprehensive study materials, including textbooks, online tutorials,
                        coding exercises, and video lectures.</p>
                </div>

                <div>
                    <span class="fas fa-chalkboard-teacher fa-3x"></span>
                    <h4>Assessments and Feedback</h4>
                    <p>Regular assessments to gauge students' progress, coupled with constructive
                        feedback from instructors to aid their learning and growth.</p>
                </div>

                <div>
                    <span class="fas fa-network-wired fa-3x"></span>
                    <h4>Career Development</h4>
                    <p>Additional resources or support to help students enhance their job prospects,
                        such as resume building, interview preparation, or networking opportunities.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="my-5 text-center container">
        <div class="row mb-2">
            <div class="col text-center">
                <h1>Our team of professionals</h1>
                <p>With a diverse range of skills and expertise, our team brings a wealth of experience and knowledge to
                    every project we undertake.</p>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-1 d-flex align-items-center justify-content-center">
                <a href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <div class="carousel-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" />
                        </svg>
                    </div>
                </a>
            </div>

            <div class="col-10">
                <!--Start carousel-->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-12 col-md d-flex align-items-center justify-content-center"
                                    style="background-image: url('https://i.ibb.co/Xt95CPB/My-project-7.png'); background-size: 100% 100%;">
                                </div>

                                <div style="background-image:url('https://i.ibb.co/0nyTtC0/Screenshot-152.png');"
                                    class="col-12 col-md d-flex align-items-center justify-content-center">
                                </div>

                                <div class="col-12 col-md d-flex align-items-center justify-content-center"
                                    class="col-12 col-md d-flex align-items-center justify-content-center">
                                    <h3 class="text-gray">Sophia is an innovative and resourceful academy teacher who
                                        thrives on challenging coding problems.
                                        With her strong problem-solving skills, she guides students in understanding
                                        algorithms and data structures, enabling them to tackle complex programming
                                        challenges. </h3>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">

                                <div style="background-image:url('https://i.ibb.co/FHRTDtZ/My-project-5.png');"
                                    class="col-12 col-md d-flex align-items-center justify-content-center">
                                </div>

                                <div style="background-image:url('https://i.ibb.co/8bRzr94/Screenshot-149.png');"
                                    class="col-12 col-md d-flex align-items-center justify-content-center">
                                </div>

                                <div class="col-12 col-md d-flex align-items-center justify-content-center"
                                    class="col-12 col-md d-flex align-items-center justify-content-center">
                                    <h3 class="text-gray">David is an experienced academy teacher. He imparts in-depth
                                        knowledge of front-end and back-end technologies, enabling students to construct
                                        powerful web applications.
                                        His classes combine theory and practical exercises, allowing students to gain
                                        hands-on experience with frameworks like React, Angular, Node.js, and Django.
                                    </h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--End carousel-->
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center"><a href="#carouselExampleIndicators"
                    data-slide="next">
                    <div class="carousel-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="flex container">
            <div class="footer-about">
                <h5>About Code Academy Inc.</h5>
                <p>Unlock your potential, master coding, and shape the future at our premier CodeAcademy.</p>
            </div>

            <div class="footer-quick-links">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-subscribe">
                <h5>Subscribe to our Newsletter</h5>
                <div id="subscribe-container">
                    <input type="text" placeholder="Enter Email" />
                    <button class="right-rounded">Send</button>
                </div>

                <h5 class="follow-us">Follow Us</h5>
                <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                </ul>
            </div>
        </div>

        <small>
            Copyright &copy; 2023 All rights reserved
        </small>
    </footer>

</body>