.mat-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    backdrop-filter: blur(5px);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #343a40;
    outline: none;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 9999;
}

.dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 10000;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #343a40;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
}

button {
    margin-top: 15px;
}

.problem {
    border-color: rgb(47, 50, 152);
}

.noProblem {
    border-color: #ccc;
}

div {
    color: #683fc7;
}

div:last-child {
    margin-top: 1px;
}

/* Media Queries */

@keyframes in {
    0% {
        width: 0;
        left: 0;
        right: auto;
    }

    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@keyframes out {
    0% {
        width: 100%;
        left: auto;
        right: 0;
    }

    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}