<ng-container *ngIf="!hasQueryParams, else newPassForm">
    <form [formGroup]="sendEmailFormGroup">

        <h1>Forgotten Pasword</h1>

        <mat-form-field>
            <input matInput
                [ngClass]="sendEmailFormGroup.controls['email'].errors && sendEmailFormGroup.controls['email'].touched ? 'problem' : 'noProblem'"
                type="text" formControlName="email" placeholder="Email*">
        </mat-form-field>

        <ng-container
            *ngIf="sendEmailFormGroup.controls['email'].errors && sendEmailFormGroup.controls['email'].touched">
            <ng-container *ngIf="sendEmailFormGroup.controls['email'].errors['required']">
                <div>This field is required!</div>
            </ng-container>
            <ng-container *ngIf="sendEmailFormGroup.controls['email'].errors['pattern'] ">
                <div>Wrong email address format!</div>
            </ng-container>
        </ng-container>

        <div *ngIf="statusMessage">
            {{statusMessage}}
        </div>

        <button mat-button (click)="onSubmitSendLink()" type="submit">Submit</button>

    </form>
</ng-container>

<ng-template #newPassForm>

    <form [formGroup]="resePasswordFormGroup">

        <input matInput
            [ngClass]="resePasswordFormGroup.controls['newPassword'].errors && resePasswordFormGroup.controls['newPassword'].touched ? 'problem' : 'noProblem'"
            type="password" formControlName="newPassword" placeholder="New Password*">


        <input matInput
            [ngClass]="resePasswordFormGroup.controls['confirmPassword'].errors && resePasswordFormGroup.controls['confirmPassword'].touched ? 'problem' : 'noProblem'"
            type="password" formControlName="confirmPassword" placeholder="Confirm Password*">


        <div *ngIf="submitted && resePasswordFormGroup.hasError('notmatched')">
            Passwords do not match.
        </div>


        <div *ngIf="statusMessage">
            {{statusMessage}}
        </div>

        <button mat-button (click)="onSubmitResetPassword()" type="submit">Submit</button>

    </form>

</ng-template>