<div class="background-container">

    <div class="background-image"></div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="custom-dialog">

        <h1 mat-dialog-title>Create New Module</h1>

        <mat-form-field>
            <input matInput formControlName="title" placeholder="Title">
            <mat-error>Title is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="description" placeholder="Description">
            <mat-error>Description is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error>Start Date is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error>End Date is required.</mat-error>
        </mat-form-field>

        <div *ngIf="statusMessage">
            {{statusMessage}}
        </div>

        <button mat-button type="submit">Submit</button>

    </form>
</div>